/* nuancier
 #464646;
 #353535;
 #343A40;
#242424;
#AAB2BD;
*/

body {
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* -------------------------------------
NAME
-------------------------------------- */

.name-div {
    color: #FFF;
    background-color: #343A40;
	border-bottom: 2px solid #1DBEFF;
	font-size: 3.5em;
	height: 60rem;
    text-transform: uppercase;
    text-align: center;
}

.name {
	font-size: 0.8em;
    margin-top: 1em;
}

.name-div img {
	border-radius: 50%;
	height: 3em;
	margin-top: 2em;
    width: 3em;
}

.work-name {
    font-size: 0.8em;
    margin-top: 1em;
}

/* --------------------------------------------
navFixe
--------------------------------------------- */

.nav {
    display: none;
}

.navbar img {
    border-radius: 50%;
    margin-left: 2em;
    width: 4em;
}

.navbar {
	border-bottom: 2px solid #1DBEFF;
    font-size: 1em;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    color: #FFF;
    margin-left: 1.5em;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #FFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}

.navbar-brand {
    font-size: 1.4em;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #1DBEFF;
}

.navbar-light .navbar-brand:hover {
    color: #1DBEFF;
}

/* -------------------------------------
section About
-------------------------------------- */

.image-about img {
	height: 30em;
    margin-left: 19em;
	width: 60em;
}

.btn-about {
    margin-top: 7.8em;
}

.card-about {
    background-color: #343A40;
    border-bottom: 2px solid #1DBEFF;
    height: auto;
    padding-bottom: 0px;
}

.card-block {
    padding-bottom: 0px;
}

.card-about .card-block {
    color: #fff;
    font-size: 1.4em;
    padding: 1.3em;
    text-align: inherit;
}

.card-about .card-block h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
}

.card-about .card-block p {
    margin-left: 2em;
    line-height: 1.2em;
}

.card-about .card-block .text {
    margin-top: 1em;
}

.image-about {
    padding-left: 0;
}

/* -------------------------------------
section SKILLS
-------------------------------------- */

.skills {
    border-bottom: 2px solid #1DBEFF;
    background-color: #DDDDDD;
    width: 100%;
}

.skills-title {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.img-skills img {
	height: 30em;
	margin-bottom: 3em;
    margin-left: 3em;
    margin-top: 3em;
	width: 35em;
}

.icone .fas {
    font-size: 3em;
    margin: 1em;
    margin-top: 1.5em;
    margin-left: 3em;
}

.skills-text {
    margin-top: 4em;
}

.skills-language {
    margin-left: 6em;
}

.skills-line {
    margin-left: 12em;
}

.skills-frame {
    margin-left: 18em;
}

.skills-text li {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.skills-text ul {
    list-style: disc;
}

.skills .btn {
    color: #464646;
	margin-bottom: 2em;
    margin-left: 2em;
}

/* -------------------------------------
section hobby
-------------------------------------- */

.hobby {
    background-color: #343A40;
	border-bottom: 2px solid #1DBEFF;
    color: #DDDDDD;
    padding-top: 4em;
}

.hobby h3 {
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 2em;
	text-transform: uppercase;
}

.hobby-icone {
	margin-top: 5em;
    text-align: center;
}

.hobby-icone i {
	margin-right: 2em;
    padding-bottom: 2em;
}

.hobby-icone .fas {
    font-size: 2em;
    text-align: center;
}

.hobby-photo img {
	height: 25em;
    width: 25em;
}

.hobby button {
    margin-bottom: 2em;
    margin-left: 1em;
}

/* -------------------------------------
FOOTER
-------------------------------------- */

footer {
    color: #343A40;
    background-color: #DDDDDD;
    border-bottom: 2px solid #1DBEFF;
}

footer .btn {
    color: #343A40;
    margin-top: 1em;
    margin-left: 1em;
}

#footer {
	padding-top: 2em;
    text-align: center;
}

#footer i {
    font-size: 1.5em;
    font-weight: bold;
	margin-right: 1em;
}

/* -------------------------------------
MOBILE
-------------------------------------- */
@media (max-width:760px) {


/* title------------------- */
    .name {
        font-size: 0.5em;
        text-align: center;
    }
    .name-div {
        padding: 0.5em;
        height: 12em;
    }
    .work-name {
        font-size: 0.5em;
        text-align: center;
    }
    /* navbar  */
    .navbar img {
        margin: auto;
    }
    .navbar-light .navbar-brand {
        margin: auto;
    }
    .navbar-toggler {
        margin: auto;
    }
/* about me ------------------*/
    .card-img-bottom {
        margin-left: auto;
        width: 98%;
    }
    .card-img-bottom {
        height: 22em;
    }
    .card-block {
        margin-top: 0.5em;
    }

    .image-about img {
    	display: none;
    }
/*skills---------------------  */
    .skills img {
        width: 19em;
        height: 19em;
        margin-top:1em;
        margin-left: 1.5em;
    }
    .icone .fas {
        font-size: 1.3em;
        margin-left: 3em;
    }
    .skills-text {
    margin-left: 2em;
    margin-top: 2em;
    }
    .skills-text ul {
        font-size: 0.5em;
        list-style: disc;
    }
    .skills-language li{
	font-size: 2em;
    }
    .skills-language {
    margin-left: 3em;
    }
    .skills-line li{
    font-size: 2em;

    }
    .skills-line {
        margin-left: 1.6em;
    }
    .skills-frame li  {
    font-size: 2em;

    }
    .skills-frame {
        margin-left: 3em;
    }
    .skills-title {
        font-size: 2em;
        margin-bottom: 1em;
    }
    /*HOBBY---------------------  */
    .hobby h3 {

	}
    .hobby-icone {
        margin-left: 1em;
    }
    .hobby-photo img {
        height: 18em;
        width: 18em;
    }
    .hobby button {
        margin-top: 2em;

    }
    /*FOOTER---------------------  */
    #footer {
        font-size: 0.7em;
    }

}
/* -------------------------------------
TABLETTE
-------------------------------------- */
@media (max-width:992px) {
	
}

@media (min-width:1200px) {}
